body{
    margin: 0;
    margin-top: 0;
}
.off{
  display: none;
}
.option{
  width:100%;
  vertical-align: middle;
  font-size: 1.3em;
}
/*****************Form*********************/
.error{
  clear: left;
  position: absolute;
  margin-bottom: -10px;
}
#submit, #cancel{
  margin-top: 18px;
  width: 150px;
  padding: 3px;
  margin-left: 10px;
}
.inp{
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}
.error{
  color: red;
  font-size: 0.9em;
  margin-top: 1px;
  text-align: left;
}
#newStock{
  padding: 20px;
  text-align: center;
}
/**********************************/
.brandOption, .colorOption{
  overflow: auto;
  text-align: left;
  width: 100%;
  padding: 5px;
  background-color: grey;
  padding-left: 20px;
  border-bottom: 1px solid red;
}
h3, .panel{
  padding-left: 15px;
}
.Brand{
  display: inline-block;
  width: 80%;
}
li{
  list-style: none;
}
.aside{
  display: inline-block;
  width: 17%;
  height: 200%;
  background-color: skyblue;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 30px;
}
nav{
  text-align: center;
  height: 80px;
  background-color: yellow;
}
h1{
  margin: 0;
  padding-top: 25px;
}
.main{
  width: 75%;
  display: inline-block;
  padding-left: 30px;
  border-left: 1px solid grey;
}
.check{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.shoe{
  display: inline-block;
  margin-right: 15px;
  padding-top: 20px;
}
.shoe img{
  width: 270px;
  height: 181px;
}
.limits{
  padding-bottom: 3px;
  font-size: 14px
}
